$primary-color: #32692d;
$grey-color:#292929;
$white-color:#fff;
$breakpoint-small: 0;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;

$maxWidth:1030px;
$displayFlex:flex;
$marginAuto:2rem auto;

//FONDOS
$bgBackground:#acacac;
$bgButton:#acacac;

//BGBORDES
$borderColor:#55703f;

//WIDTH CARD
$maxWidthCard:25%;